<div id="slider" class="swipejs-container">
    <div class="swipe-wrap">
        {{#each accounts as |account|}}
            <div class="swipejs-card-wrapper">{{account-card account=account}}</div>
        {{/each}}
    </div>
</div>