<div class="swiper-container">
    <div class="swiper-wrapper">
        <!-- Slides -->
        {{#each accounts as |account|}}
            <div class="swiper-slide">{{account-card account=account}}</div>
        {{/each}}        
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>