.account-card {
    background-color: white;
    width: 75%;
    height: 17em;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.50);
    text-transform: uppercase;
    position: relative;

    @media only screen and (max-width: $sml-device) {
        width: 85vw;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        margin: 0;
        padding: 0;
    }

    .account-card-icon {
        position: absolute;
        top: 1rem;
        right: 3rem;
        font-size: 700%;
        opacity: .2;

        @media only screen and (max-width: $sml-device) {
            right: 1rem;
        }
    }

    .account-cpfm-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: $app-blue;
        -webkit-text-stroke: 1px $app-blue;

        &:before {
            font-size: 250%;
        }
    }

    .account-card-title {

    }

    .account-card-number {
        margin-top: .25rem;
    }

    .account-card-balance-display {
        display: flex;
        align-items: flex-start;
        margin-top: 1em;

        .account-card-balance {
            font-size: 400%;
            margin-top: -10px;
        }
    }

    .account-card-title,
    .balance-info {
        -webkit-text-stroke: 1.25px $app-grey;
     }

    .account-card-secondary-display {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .account-card-actions {
        margin-top: 1.5rem;
        border-top: 1px solid rgba(black, .2);
        display: flex;
        justify-content: space-evenly;

        .account-card-action {
            display: inline-block;
            padding: 1rem .5em .5em .5em;
            color: $app-blue;
            text-transform: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}