.swiper-library {
    @include swipe-overlap;
}

.swiper-container {
    @include swipe-library-container;
    height: 350px;
}

.swiper-stage {
    @include swipe-library-stage;
}

.swiper-slide {
    width: 100%;
}

@mixin swiper-btn {
    opacity: 1;
    transition: opacity .5s;

    @media only screen and (max-width: $sml-device) {
        opacity: 0 !important;
    }    
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-disabled {
    @include swiper-btn;
}

