.swiper-library {
    margin-top: -30px;
}

.swiper-container {
    width: 600px;
    height: 350px;
}

.swipe-stage {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.swiper-slide {
    width: 100%;
}
