@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import './swiper-base-styles';
@import './_palette';
@import './swiper-q2-styles';
@import './_account-cards';

body,
html {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size:16px;
    color: $app-grey;
    background-color: $app-light-grey;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

.banner-area {
    height: 10em;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

    h4 {
        text-align: center;
        padding-top: 5%;
        color: white;
    }
}
