@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import './swiper-base-styles';
@import './_palette';
@import './_breakpoints';

$appMaxWidth: 1200px;

@mixin appTextStroke {
    -webkit-text-stroke: 1.25px $app-grey;
}

body,
html {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: $app-grey;
    background-color: $app-light-grey;
    padding-bottom: 20rem;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

.banner-area {
    height: 10em;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

    h4 {
        text-align: center;
        padding-top: 3rem;
        color: white;
    }
}

.library-documentation {
    margin-left: .5rem;
    padding: .25em .75rem;
    background-color: rgba(black, .7);
    color: white;
    opacity: .8;
    transition: all .2s;
    text-decoration: none;
    border-radius: 5px;

    &:hover {
        opacity: 1;
    }
}

.about {
    display: block;
    padding: 1.5rem;
    width: 50%;
    border-radius: 10px;
    margin: 8rem auto 3rem auto;
    border: 2px solid rgba(black, .2);
    text-align: center;
    background-color: rgba(black, .05);
    transition: all .3s;
    text-decoration: none;
    text-transform: uppercase;
    color: $app-grey;

    @media only screen and (max-width: $sml-device) {
        width: 70%;
    }

    &:hover {
        border: 2px solid black;
        background-color: rgba(black, .4);
        color: white;
    }
}

@mixin banner-overlap {
    margin-top: -30px;
}

@mixin swipe-library-stage {
    max-width: $appMaxWidth;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: $sml-device) {
        width: 100vw;
    }
}

@mixin swipe-library-container {
    width: 600px;

    @media only screen and (max-width: $sml-device) {
        width: 100vw;
    }
}

@import './_account-cards';
@import './_library-props';
@import './swiper-q2-styles';
@import './swipejs-q2-styles';
