<section class="left-pane">
    <h1>Swipe Integration POC</h1>
</section>
<main>
    <section class="banner-area"></section>
    <section class="swipe-stage">
        <div class="swiper-library">
            {{swiper-component}}
        </div>
    </section>
</main>