<section class="left-pane">
    <h1 class="app-header">Swipe Integration POC</h1>
</section>
<main>
    <section class="banner-area swiper">
        <h4>Swiper.js <a class="library-documentation" href="https://swiperjs.com/api/">More Info</a></h4>
    </section>
    
    <section class="swiper-stage">
        <div class="swiper-library">
            {{swiper-component}}
        </div>
    </section>

    <section class="banner-area swipejs">
        <h4>Swipe.js <a class="library-documentation" href="https://swipe.js.org/">More Info</a></h4>
    </section>
    
    <section class="swipejs-stage">
        <div class="swiperjs-library">
            {{swipejs-component}}
        </div>
    </section>    
</main>